<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<title>Botões com Logo</title>
<style>
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  .container .botao {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .container .botao:hover {
    background-color: #ddd;
  }
  .container .logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
</style>
</head>
<body>
	<img src="{{ url_for('static', filename='banner-manafi-1920x450.png') }}" alt="Banner Manafi" style="width: 100%; height: auto;">

	<div class="container">

	<table class="table"
		
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Sumario" class="logo" />
				<!--<a href="{{ url_for('exibir_manual', nome='manfin') }}">Ver conteúdo do Manfin</a>   -->
				<a href="{{ url_for('em_manutencao') }}">Modulo 0 - Sumario</a>   
			</td>
		</tr>

		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 1" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 1 - Aspecto Geral</a>
			</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 2" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 2 - Disponibilidade Financeira</a>
			</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 5" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 5 - Adiantamento de Numerário</a>
			</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 7" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 7 - Gerir Pagamento</a>
			</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 10" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 10 - Operações Finaceiras</a>
			</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 19" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 19 - Balancetes e Demonstração Financeiras</a>
			</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 20" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 20 - Depositos Judiciais e Recursais</a>
			</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<td>
  				<img src="/static/iconMan.png" alt="Modulo 22" class="logo" />
				<a href="{{ url_for('em_manutencao') }}">Modulo 22 - Planejamento Economico e Financeiro]</a>
			</td>
		</tr>
		</tbody>

	</table>

</div>

</body>
</html>